<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  </head>
  <body>
    <div>{% block content %}{% endblock %}</div>
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <div id="toast" class="toast">
      {% for category, message in messages %}
      <div
        class="alert {{ 'alert-error' if category == 'error' else 'alert-info' }}"
      >
        <span>{{ message }}</span>
      </div>
      {% endfor %}
    </div>
    <script>
      setTimeout(() => {
        const toast = document.getElementById("toast");
        if (toast) {
          toast.remove();
        }
      }, 3000);
    </script>
    {% endif %} {% endwith %}
  </body>
</html>
